<h1> About us </h1>


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About The Project </h2><br>
      <h3> We aim to create an RoR app that works. The developer wants to finish the DesafioLatam Full Stack Course. The programming language used is Ruby. The framework is Rails.</h3>
      <h4> Looking for a safe site where you can keep your work on track?</h4>
      <h5> This App allows the users to keep track of their duties in a safely way. Once you become a user, you can create your own to do list and your own dashboard with the information of your most important contacts/friends/family information. Beside this, the user can check the actual value of different currencies </h4><br> 
      <br><button class="btn btn-default btn-success">Contact us</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <h4><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>DO YOUR OWN</h2>
  
  <br>

  <div class="row slideanim">
  
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-th-list logo-small"></span>
      <h4>CONTACT LIST</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>

     <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok logo-small"></span>
      <h4> TO DO LIST </h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-euro logo-small"></span>
      <h4>CALCULATE $ VALUE </h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    
  </div>
  <br>
  <!-- Container (Portfolio Section) -->
  
  <div id="portfolio" class="container-fluid text-center bg-white">
  <h2> BUY ONE ITEM USING PAYPAL </h2><br>

   <section class="py-5 center">
            <div class="container px-4 px-lg-5 mt-5 ">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="assets/airpodspro.png" alt="Airpods Pro" width="400" height="300"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Airpods Pro </h5></h5>
                                    <p> Best ones to work from home </p>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-400">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.3rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="assets/computer.jpg", class="img-responsive", alt="Computer" width="400" height="300" >
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Computer</h5>
                                    <p>Needing to program or trade? This PC is perfect for you.</p>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="assets/ledlights.jpg" alt="Led Light Strips" width="400" height="300"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Led Light Strips</h5>
                                    <p>Perfect lights to focus on your work with style</p>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                  </section>


 <!-- Container (Contact Section) -->

   <!--Contacto-->
   
<div id="contact" class="container-fluid bg-light">
  <h2 class="text-center"> Do you like the app? Contact me to use it  </h2>

  <div class="row">
    <div class="col-sm-5">
      <p> Contact me and you'll be able to use it. </p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Santiago, Chile</p>
      <p><span class="glyphicon glyphicon-phone"></span> +569 58657393</p>
      <p><span class="glyphicon glyphicon-envelope"></span> i.perezgamboa@gmail.com </p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>

   <section id="contact" class="container exp mt-5 d-none d-md-block"></section>
    <h2 class="text-center"> Or just complete this and i'll contact you </h2>
    <hr class="bg-dark">
    <div class="container">
      <div class="typeform-widget" data-url="https://form.typeform.com/to/TuFogiQC" style="width: 100%; height: 500px;">
      </div>
      <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
      <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
          href="https://admin.typeform.com/signup?utm_campaign=TuFogiQC&utm_source=typeform.com-01EFD300R7Z02K11RE60R48X28-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=ES"
          style="color: #999" target="_blank"></a> </div>
    </div>
    </section>

<!-- Image of location/map -->




 




<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
